#celebrityA {
  display: none;
}

#celebrityB {
  display: none;
}

#celebrityC {
  display: none;
}

#celebrityD {
  display: none;
}


#celebrityE {
  display: none;
}


#celebrityF {
  display: none;
}


#celebrityG {
  display: none;
}
